h1 {
  color: steelblue;
}

.background {
  width: 100vw;
  height: 30%;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-image: url("../assets/rsz_rich-tervet-662093-unsplash-min.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
}
