* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 300px;
  position: relative;
  top: -60px;
  background-image: url("../assets/rsz_rich-tervet-662093-unsplash-min.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 50% 68%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 60px auto 0;
  position: fixed;
  z-index: 3;
}

.nav-contents {
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  background: rgba(255,255,255,0.7);
  position: sticky;
  top: 60px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3%;
  font-size: 17px;
  width: 100%;
}

.navbar li {
  padding: 5px 10px;
  list-style-type: none;
  cursor: pointer;
  width: 120px;
  text-align: center;
}

.brand {
  display: none;
}

.hamburger-menu {
  font-size: 28px;
  color: #444;
  padding: 6px;
  padding-right: 5%;
}

.headshot {
  padding-top: 310px;
  text-align: center;
}

.headshot img {
  height: 200px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  white-space: nowrap;
  font-size: 26px;
}

.socials {
  font-size: 32px;
  text-align: center;
  padding: 10px;
  i {
    padding: 10px;
    transition: all .3s;
    &:hover {
      cursor: pointer;
      color: purple;
    }
  }
  a:visited {
    color: black;
  }
}

.about {
  padding-top: 200px;
  p {
    padding-top: 10px;
  }
}

.blurb {
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  width: 80%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tile {
  text-align: center;
  position: relative;
  margin: 20px;
  color: #fff;
  max-width: 600px;
  img {
      width: 95%;
      max-height: 400px;
      margin: 10px auto;
      justify-content: center;
      filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
    }
  .overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      opacity: 0;
      width: 99%;
      height: 99%;
      top: 0;
      left: 0px;
      background-color: rgba(0,0,0,.7);
      padding: 20px;
    }
  &:hover .overlay {
      opacity: 1;
      transition: opacity .3s;
    }
  p {
      font-size: 16px;
      padding: 15px 5px;
    }
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.skills {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 5px auto;
}

.skill {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.button {
    color: #FFF;
    display: block;
    background-color: #EFBA4E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #EFBA4E;
    &:hover {
      transition: all .25s ease-out;
      opacity: .85;
      cursor: pointer;
    }
}

.contact {
  padding-top: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 100%;

}

.contact-contents {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.form-input {
  width: 100%;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #555;
  padding: 10px;
  background-color: inherit;
}

.form-input:focus {
  outline: none;
}

#submit {
  font-size: 22px;
  margin: 30px 0;
  padding: 5px;
  width: 100px;
  border: 1px solid #555;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
}

#submit:focus {
  outline: none;
}

#message {
  height: 150px;
}

.contact-instructions {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer {
  height: 40px;
  padding: 10px 15px;
  text-align: right;
  width: 100%;
  a {
    font-size: 20px;
    margin: 5px;
  }
}

@media (min-width: 1080px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 60px auto 0 auto;
    position: fixed;
    z-index: 3;
  }
  .brand {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    .hamburger-menu {
      display: none;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
  }
  .navbar li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
  }
  .headshot {
    position: absolute;
    top: -90px;
    right: 10%;
    height: 100px;
    text-align: center;
    z-index: 2;
    overflow: visible;
  }

  .about {
    padding-top: 10px;
    h1 {
      font-size: 36px;
      padding: 10px;
    }
  }

  .portfolio {
    max-width: 80%;
    margin: 0 auto;
  }

  .contact-contents {
  max-width: 600px;
  }

  .tile {
    max-width: 600px;
    .overlay {
      justify-content: center;
      }
    p {
        font-size: 20px;
        padding: 20px;
      }
    }

  h3 {
    font-size: 28px;
  }

  .skills {
    margin: -3px;
    padding-top: 10px;
  }

  .skill {
    font-size: 16px;
    padding: 5px 15px;
    align-items: center;
  }

  .button {
      font-size: 16px;
      padding: 10px;
      width: 30%;
      margin: 30px auto;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

}
