* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 300px;
  position: relative;
  top: -60px;
  background-image: url("../assets/rsz_rich-tervet-662093-unsplash-min.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 50% 68%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 60px auto 0;
  position: fixed;
  z-index: 3;
}

.nav-contents {
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  background: rgba(255,255,255,0.7);
  top: 60px;
}

.menu {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3%;
  font-size: 17px;
  width: 100%;
}

.navbar li {
  padding: 5px 10px;
  list-style-type: none;
  cursor: pointer;
  width: 120px;
  text-align: center;
}

.brand {
  display: none;
}

.hamburger-menu {
  font-size: 28px;
  color: #444;
  padding: 6px;
  padding-right: 5%;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.headshot {
  padding-top: 310px;
  text-align: center;
}

.headshot img {
  height: 200px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  white-space: nowrap;
  font-size: 26px;
}

.socials {
  font-size: 32px;
  text-align: center;
  padding: 10px;
  }

.socials a:visited {
    color: black;
  }

.socials i {
    padding: 10px;
    transition: all .3s;
}

.socials a:hover {
    cursor: pointer;
    color: purple;
}

.about {
  padding-top: 200px;
}

.about p {
    padding-top: 10px;
}

.blurb {
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  width: 80%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tile {
  text-align: center;
  position: relative;
  margin: 20px;
  color: #fff;
  max-width: 600px;
}

.tile img {
      width: 95%;
      max-height: 400px;
      margin: 10px auto;
      justify-content: center;
      filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
}

.tile .overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      opacity: 0;
      width: 99%;
      height: 99%;
      top: 0;
      left: 0px;
      background-color: rgba(0,0,0,.7);
      padding: 20px;
}
.tile:hover .overlay,
.tile:active .overlay,
.tile:focus .overlay,
.touch .overlay {
      opacity: 1;
      transition: opacity .3s;
}

.tile p {
      font-size: 16px;
      padding: 15px 5px;
 }

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.skills {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 5px auto;
}

.skill {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.button {
    color: #FFF;
    display: block;
    background-color: #EFBA4E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #EFBA4E;
    opacity: .8;
}

.button:hover {
      transition: all .25s ease-out;
      opacity: 1;
      cursor: pointer;
}

.contact {
  padding-top: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 100%;

}

.contact-contents {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin: 0;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  margin-top: .8rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(212, 212, 212, 50%);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s;
}

.form__input:focus {
  outline:none;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
  border-bottom: 3px solid green;
}

.form__input:focus:invalid {
  border-bottom: 3px solid red;
}

.form__input:-webkit-input-placeholder {
  color: grey;
}

.form__label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .3rem;
  display: block;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 8rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .5s;
    position: relative;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: purple;
    float: right;
}

.btn-text,
.btn-text:link,
.btn-text:visited {
  color: darkgrey;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid purple;
  padding: .8rem 2rem;
  margin: 2rem 0;
  font-size: 22px;
  transition: all .2s;
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 2rem 4rem rgba(0,0,0, .15);
  cursor: pointer;
}

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
}

#message {
  height: 150px;
}

.contact-instructions {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer {
  height: 40px;
  padding: 10px 15px;
  text-align: right;
  width: 100%;
}

footer a {
    font-size: 20px;
    margin: 5px;
}

@media (min-width: 530px) {
  .tile .overlay {
    justify-content: center;
    padding: 40px;
  }
  .tile h3 {
    font-size: 28px;
  }
  .tile p {
    font-size: 20px;
    padding: 20px;
  }
  .skills {
    margin: -3px;
    padding-top: 10px;
  }
  .skill {
    font-size: 16px;
    padding: 5px 15px;
    align-items: center;
  }
}

@media (min-width: 1080px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 60px auto 0 auto;
    position: fixed;
    z-index: 3;
  }
  .brand {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
  }
  .nav-contents .hamburger-menu {
      display: none;
    }
  .menu {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
  }
  .navbar li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
  }
  .headshot {
    position: absolute;
    top: -90px;
    right: 10%;
    height: 100px;
    text-align: center;
    z-index: 2;
    overflow: visible;
  }

  .about {
    padding-top: 10px;
  }

  .about h1 {
    font-size: 36px;
    padding: 10px;
  }

  .portfolio {
    max-width: 80%;
    margin: 0 auto;
  }

  .contact-contents {
  max-width: 600px;
  }

  .button {
      font-size: 16px;
      padding: 10px;
      width: 30%;
      margin: 30px auto;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}
